body{
	height: 100%;
	width: 100%;
	background-color: #1e2538;
}
/* Bordered form */
form {
  position: absolute;
  top: 20%;
  left: 55%;
  border:  solid #f1f1f1;
  width: 30%;
  background-color: #6769a1;
  border-radius: 10px;
  color: white;
}
form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 5px
}

/* Set a style for all buttons */
button {
  background-color: #39ccc2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  width: 20%;
}
h1{
	position: absolute;
	left: 15%;
	color: #7ab1f0;
	font-size: 50px

}
/* Avatar image */
img.avatar {
	position: relative;
	left: 190%;
  width: 70%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 93%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

.imgUsu img{
	position: absolute;
	left: 10%;
	top: 15%;
	width: 35%;
	height: 
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 800px) {
	form{
		position: absolute;
		left: 5%;
		width: 90%;
	}
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
  h1{
	color: #7ab1f0;
	text-align: center;
	font-size: 50px

}
.imgUsu img{
	display: none;
}
 
 

}
